body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, rgb(202, 98, 47), rgb(70, 70, 148))
}
h1 {
    display:block;
    margin:auto 0;
}
.graph {
    display:flex;
    width: 60%;
    justify-content: space-around;
}
.links {
    display:flex;
    justify-content: space-around;
}
a {
    text-decoration: none;
    color:black;
}
table {
    width: 100%;
    border-collapse: collapse;
    color:rgb(183, 193, 136)
}
th, td {
    text-align: center;
    padding: 8px;
    border: solid thin black;
}
details {
    margin-bottom: 20px;
}